.all-books {
    background-color: #fff;
    padding: 2rem 0;
    article {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;
        border-bottom: 4px solid #a7a7a7;
        .left-side {
            width: 600px;
            .cover {
                height: 400px;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .textUnderCover {
                .title {
                    font-weight: 400;
                    display: block;
                    font-size: 1.5em;
                    margin-block-start: 0.83em;
                    margin-block-end: 0.83em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    color: #404040;
                    line-height: 1.5;
                    text-decoration: none;
                }
                .author,
                .fragment {
                    color: #404040;
                    font-size: 0.875rem;
                    line-height: 1.5;
                }
            }
        }
        .right-side {
            width: 400px;
            height: 400px;
            h2 {
                display: block;
                font-size: 1.5em;
                margin-block-start: 0.83em;
                margin-block-end: 0.83em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                color: #404040;
                font-family: sans-serif;
                line-height: 1.5;
            }
            ul {
                padding: 8px;
                padding-left: 16px;
                border-top: 1px solid;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;

                li {
                    background: #b1b1b151;
                    border-top: 1px solid;
                    a {
                        font-family: sans-serif;
                        font-size: 0.875rem;
                        line-height: 1.5;
                        color: #000;
                        display: block;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
.pagination {
    width: 800px;
    display: flex;
    justify-content: center;
    background: white;
    margin: 2rem auto;
    .active {
        font-size: 20px;
        border: 1px solid rgb(202, 200, 200);
        text-decoration: none;
        padding: 10px 30px;
        height: 40px;
        width: 80px;
        justify-content: center;
        display: inline-block;
        cursor: pointer;
    }
}
.visible {
    display: none;
}
