$first-color:#5b605f;
$main-word: #7d8a35;
$alt-main-word:#309b25;


@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather'), url(../fonts/Merriweather-Black.otf) format('truetype');
  }
$main-font: "Calibri","sans-serif";
$basic-font-size: 15px;