@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$first-color:#5b605f;
$main-word: #303030;
$alt-main-word:#3cb46e;
$main-font: 'Open Sans', sans-serif;
$basic-font-size: 15px;